{% extends 'base.html.twig' %}

{% block title %}{{ 'Profile'|trans }}{% endblock %}

{% block navbar %}
	<ul class="navbar">
		<li class="left"><a href="{{ path('app_book_index') }}"><i class="fa-solid fa-house"></i></a></li>
		<li class="right"><a href="{{ path('app_logout') }}"><i class="fa-solid fa-right-from-bracket"></i></a></li>
	</ul>
{% endblock %}

{% block body %}
	<div class="main">
        <div class="block center tiny">
			<h1>{{ 'Profile'|trans }}</h1>
			<h3>{{ email }}</h3>
			<div class='profile-form'>
				{{ form_start(form) }}
					{{ form_label(form.lang)|trans|raw }}
					{{ form_widget(form.lang) }}
					{{ form_label(form.PanelPosition)|trans|raw }}
					{{ form_widget(form.PanelPosition) }}
					<button type="submit" class="btn">{{ 'Save'|trans }}</button>
				{{ form_end(form) }}
			</div>
        </div>
    </div>
{% endblock %}
