{% extends 'base.html.twig' %}

{% block title %}{{ 'Registration'| trans }} - {{ 'Site Description'| trans }}{% endblock %}

{% block body %}
	<div class="block tiny center up form-auth">
		{{ form_start(registrationForm) }}
			<div class="row">
				<div>
					{{ form_widget(registrationForm.email, { 'attr' : { 'placeholder' : 'Email' } }) }}
				</div>
			</div>
			<div class="row">
				<div>
					{{ form_widget(registrationForm.plainPassword, { 'attr' : { 'placeholder' : 'Password'|trans } }) }}
				</div>
			</div>

			<button type="submit" class="btn">{{ 'Registration'| trans }}</button>
		{{ form_end(registrationForm) }}
	</div>
	
	<div class="block tiny center form-auth">
		<form action="{{ path('app_login') }}">
			<button class="btn" type="submit">{{ 'Go to the login page'| trans }}</button>
		</form>
	</div>

	<div class='block tiny center' id='auth-lang'>
		<a href='/registration/changeLang/ru'>Русский</a>
		<a href='/registration/changeLang/en'>English</a>
	</div>
{% endblock %}

{% block navbar %}{% endblock %}
