{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit book'|trans }}{% endblock %}

{% block body %}
    <div class="main">
        <div class="book-form block x-large center">
            <h1>{{ 'Edit book'|trans }}</h1>
            {{ form_start(formText) }}
                {{ form_widget(formText.Name, { attr : { 'placeholder' : 'Book name'|trans }}) }}
                {{ form_widget(formText.Text, { value: bookText, attr : { 'placeholder' : 'Text'|trans } }) }}
                <button type="submit" class="btn">{{ 'Update book'|trans }}</button>
            {{ form_end(formText) }}
        </div>
        </div>
    </div>
{% endblock %}

{% block navbar %}
	{{ parent() }}
	{% block navbar_left %}
        <li class="left"><a href="/books/show/{{ book.id }}"><i class="fa-solid fa-arrow-left"></i></a></li>
	{% endblock %}
{% endblock %}