{% extends 'base.html.twig' %}

{% block title %}{{ 'List of books'|trans }}{% endblock %}

{% block javascripts %}
	{{ parent() }}
    {{ encore_entry_script_tags('index') }}
{% endblock %}

{% block body %}
	<div class="main">
		<div id="desktop-books">
			{% for book in books %}
				<a href="/books/show/{{ book.id }}">
					<div class="block">
						<p><b>{{ book.name }}</b></p>
						<div class="index-book-progbar">
							<span style="width:{{ book.progress }}%"></span>
						</div>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}
{% block navbar %}
	{{ parent() }}
	{% block navbar_left %}
		<li class="left"><a id='show_options'><i class="fa-solid fa-plus"></i></a></li>
	{% endblock %}
	<div id="add-options" class="hide navbar-options">
		<ul>
			<li><a href="{{ path('app_book_new_text') }}"><i class="fa-solid fa-pen"></i>{{ 'By text'|trans }}</a></li>
			<li><a href="{{ path('app_book_new_file') }}"><i class="fa-solid fa-paper-plane"></i>{{ 'By file'|trans }}</a></li>
			<li><a href="{{ path('app_book_new_url') }}"><i class="fa-solid fa-globe"></i>{{ 'By url'|trans }}</a></li>
			<li><a href="{{ path('app_book_new_web') }}"><i class="fa-solid fa-book-open-reader"></i>{{ 'By libru'|trans }}</a></li>
		</ul>
	</div>
{% endblock %}
