{% extends 'base.html.twig' %}

{% block title %}Search in book{% endblock %}

{% block body %}
    <div class='main'>
            <div class='book-form block tiny center'>
                {{ htmlSearch | raw }} 
            </div>
        <div class='list-form content-center block x-large center'>
            <div id='list-rows-count'><b>{{ 'Parts count'|trans }}: {{ rowsCount }}</b></div>
            {{ htmlList | raw }}
            {{ htmlPages | raw }} 
        </div>
	</div>
{% endblock %}

{% block navbar %}
	{{ parent() }}
	{% block navbar_left %}
        <li class="left"><a href="/books/show/{{ book.id }}"><i class="fa-solid fa-arrow-left"></i></a></li>
	{% endblock %}
{% endblock %}
