{% extends 'base.html.twig' %}

{% block title %}{{ 'New book by text'|trans }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('new') }}
{% endblock %}

{% block body %}
	<div class="main">
		<div id="text-form" class="book-form block x-large center">
			<h1>{{ 'New book by text'|trans }}</h1>
			{{ form_start(formText) }}
				{{ form_widget(formText.Name, { attr : { 'placeholder' : 'Book name'|trans }}) }}
				{{ form_widget(formText.Text, { attr : { 'placeholder' : 'Text'|trans }}) }}
				<button type="submit" class="btn">{{ 'Add book'|trans }}</button>
			{{ form_end(formText) }}
		</div>
	</div>
{% endblock %}

{% block front %}
    {{ parent() }}
	<div id="lds-roller" class="lds-roller hide"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
{% endblock %}