{% extends 'base.html.twig' %}

{% block title %}{{ 'New book from Lib.ru'|trans }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('new') }}
{% endblock %}

{% block body %}
	<div class='main'>
		<div class='book-form block tiny center'>
			{{ htmlSearch | raw }} 
		</div>
		<div class='list-form content-center block x-large center'>
			<h1>{{ 'New book from Lib.ru'|trans }}</h1>
			<div id='list-rows-count'><b>{{ 'Books count'|trans }}: {{ rowsCount }}</b></div>
			{{ htmlList | raw }}
			{{ htmlPages | raw }} 
		</div>
	</div>
{% endblock %}

{% block front %}
    {{ parent() }}
	<div id="lds-roller" class="lds-roller hide"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
{% endblock %}