{% extends 'base.html.twig' %}

{% block title %}{{ 'New book by url'|trans }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('new') }}
{% endblock %}

{% block body %}
    <div class="main">
        <div id="text-form" class="book-form block x-large center">
            <h1>{{ 'New book by url'|trans }}</h1>
            {{ form_start(formUrl) }}
                {{ form_widget(formUrl.Name, { attr : { 'placeholder' : 'Book name'|trans }}) }}
                {{ form_widget(formUrl.Url, { attr : { 'placeholder' : 'Url'|trans }}) }}
                <button type="submit" class="btn">{{ 'Add book'|trans }}</button>
            {{ form_end(formUrl) }}
        </div>
    </div>
{% endblock %}

{% block front %}
    {{ parent() }}
	<div id="lds-roller" class="lds-roller hide"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
{% endblock %}