{% extends 'base.html.twig' %}

{% block title %}{{ 'Book progress'|trans }}{% endblock %}

{% block body %}
    <div class="main">
        <div class="block center tiny">
            <div id="settings-form">
                <h1>{{ 'Book progress'|trans }}</h1>
                {{ form_start(formProgress) }}
                    <div>
                        <h3>{{ form_label(formProgress.progress)|trans|raw }}</h3>
                        {{ form_widget(formProgress.progress) }}
                    </div>
                    <button type="submit" class="btn">{{ 'Save'|trans }}</button>
                {{ form_end(formProgress) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block navbar %}
	{{ parent() }}
	{% block navbar_left %}
        <li class="left"><a href="/books/show/{{ book.id }}"><i class="fa-solid fa-arrow-left"></i></a></li>
	{% endblock %}
{% endblock %}