{% extends 'base.html.twig' %}

{% block title %}{{ 'Book settings'|trans }}{% endblock %}

{% block body %}
    <div class="main">
        <div class="book-form block center tiny">
            <div id="settings-form">
                <h1>{{ 'Book settings'|trans }}</h1>
                {{ form_start(formSettings) }}
                    <div>
                        <h3>{{ form_label(formSettings.speed)|trans|raw }}</h3>
                        {{ form_widget(formSettings.speed) }}
                    </div>
                    <div>
                        <h3>{{ form_label(formSettings.voice)|trans|raw }}</h3>
                        {{ form_widget(formSettings.voice) }}
                    </div>
                    <button type="submit" class="btn">{{ 'Save'|trans }}</button>
                {{ form_end(formSettings) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block navbar %}
	{{ parent() }}
	{% block navbar_left %}
        <li class="left"><a href="/books/show/{{ book.id }}"><i class="fa-solid fa-arrow-left"></i></a></li>
	{% endblock %}
{% endblock %}