{% extends 'base.html.twig' %}

{% block title %}{{ book.name }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('read') }}
{% endblock %}

{% block body %}
    <div id="current-point" info="{{ book.currentPoint }}"></div>
    <div id="book-id" info="{{ book.id }}"></div>

    <div id="read" class="main read">
        <div id="span-collection">
            {% for span in spans %}
                <span id='s{{ span.id }}' class='read-span'>{{ span.span }}</span>
                <div id='t{{ span.id }}' class='block hide translate-block'></div>
            {% endfor %}
        </div>
    </div>

    <div id="nav-container" class="nav-container hide">
        <div id="select"><i class="fa-solid fa-arrow-pointer"></i></div>
        <div id="translate"><i class="fa-solid fa-language"></i></div>
        <div id="back"><i class="fa-solid fa-backward"></i></div>
        <div id="play"><i class="fa-solid fa-play"></i></div>
        <div id="next"><i class="fa-solid fa-forward"></i></div>
    </div>
{% endblock %}

{% block navbar %}
	{{ parent() }}
	{% block navbar_left %}
    	<li class="left"><a id='show-book-options'><i class="fa-solid fa-list"></i></a></li>
        <li class="left nav-bookname"><a href="#">{{ book.name }}</a></li>
	{% endblock %}
    <div id="progbar">
        <span></span>
    </div>
    <div id="book-options" class="hide navbar-options">
		<ul>
            <li>
                <a id="nav-play"><i class="fa-solid fa-play"></i>{{ 'Voice'|trans }}</a>
            </li>
            <li>
                <a id="nav-translate"><i class="fa-solid fa-language"></i>{{ 'Translate'|trans }}</a>
            </li>
            <li>
                <a href="/books/edit/{{ book.id }}"><i class="fa-solid fa-pen-to-square"></i>{{ 'Edit book'|trans }}</a>
            </li>
            <li>
                <a href="/books/settings/{{ book.id}}"><i class="fa-solid fa-gear"></i>{{ 'Book settings'|trans }}</a>
            </li>
            <li>
                <a href="/books/search_span/{{ book.id }}"><i class="fa-solid fa-search"></i>{{ 'Search in book'|trans }}</a>
            </li>
            <li>
                <a href="/books/progress/{{ book.id }}"><i class="fa-solid fa-bars-progress"></i>{{ 'Book progress'|trans }}</a>
            </li>
            <li>
                <a href="/books/statistics/{{ book.id }}"><i class="fa-solid fa-circle-info"></i>{{ 'Book statistics'|trans }}</a>
            </li>
            <li>
                <a href="/books/history/{{ book.id }}"><i class="fa-solid fa-clock-rotate-left"></i>{{ 'Book history'|trans }}</a>
            </li>
            <li>
                <a href="/books/download/{{ book.id }}"><i class="fa-solid fa-download"></i>{{ 'Download book'|trans }}</a>
            </li>
            <li class="left"><a id="delete"><i class="fa-solid fa-trash"></i>{{ 'Delete book'|trans }}</a></li>
		</ul>
	</div>
{% endblock %}

{% block front %}
    {{ parent() }}
    <div id="delete-form" class="block hide">
        <h3>{{ 'Delete book'|trans }}</h3>
        <button id="no-btn">{{ 'No'|trans }}</button>
        <button id="yes-btn" class="right">{{ 'Yes'|trans }}</button>
    </div>
{% endblock %}
