{% extends 'base.html.twig' %}

{% block title %}{{ 'Book statistics'|trans }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('statistics') }}
{% endblock %}

{% block body %}
    <div id="book-id" info="{{ id }}"></div>
    <div class="main">
        <div class="block tiny center">
            <h1>{{ 'Book statistics'|trans }}</h1>
            <h3>{{ 'Book name'|trans }}</h3>
            {{ name }}
            <h3>{{ 'Percentage progress'|trans }}</h3>
            {{ percentageProgress }}%
            <h3>{{ 'Sentence progress'|trans }}</h3>
            {{ currentPoint }} / {{ lastPoint }}
            <h3>{{ 'Words progress'|trans }}</h3>
            {{ currentWordsCount }} / {{ allWordsCount }}
            <h3>{{ 'Size progress'|trans }}</h3>
            {{ currentSize }} / {{ allSize }} KB
            <h3>{{ 'WordsByDate'|trans }}</h3>
            <table>
                <cols>
                    <col>
                    <col width="25%">
                    <col width="25%">
                </cols>
            {% for user in wordsByDate %}
                <tr>
                    <td>{{ user.span_lastupdate }}</td>
                    <td>{{ user.words_count }}</td>
                    <td>{{ user.perc }}%</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

{% block navbar %}
    {{ parent() }}
    {% block navbar_left %}
        <li class="left"><a href="/books/show/{{ id }}"><i class="fa-solid fa-arrow-left"></i></a></li>
    {% endblock %}
{% endblock %}
