{% extends 'base.html.twig' %}
{% block title %}{{ 'Login'| trans }} - {{ 'Site Description'| trans }}{% endblock %}
{% block body %}
	<div>
		<div class="float-child">
			<div class="center block large up form-auth float-child-item">
				<p>{{ 'LoginGreeting'| trans }}</p>
				<p>{{ 'LoginQuestion'| trans }}</p>
				<p>
					<li>{{ 'LoginItem1'| trans }}
					<li>{{ 'LoginItem2'| trans }}
					<li>{{ 'LoginItem3'| trans }}
					<li>{{ 'LoginItem4'| trans }}
					<li>{{ 'LoginItem5'| trans }}
					<li>{{ 'LoginItem6'| trans }}
					<li>{{ 'LoginItem7'| trans }}
				</p>
				<p>{{ 'LoginLetsGo'| trans }}</p>
			 
			</div>
		</div>
		<div class="float-child">
			<div class="center block large up form-auth float-child-item">
				<form action="{{ path('app_login') }}" method="post">
					{% if error %}
						<div id='error-msg'>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}
					<div class="row">
						<div>
							<input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Email"/>
						</div>
					</div>

					<div class="row">
						<div>
							<input type="password" id="password" name="_password" placeholder="{{ 'Password'|trans }}"/>
						</div>
					</div>
					<button class="btn" type="submit">{{ 'Login'| trans }}</button>
				</form>
			</div>

			<div class="center block large form-auth float-child-item">
				<form action="{{ path('app_registration') }}">
					<button class="btn" type="submit">{{ 'Go to registration page'| trans }}</button>
				</form>
			</div>

			<div class="center block large form-auth float-child-item" id="auth-lang">
				<a href='/login/changeLang/ru'>Русский</a>
				<a href='/login/changeLang/en'>English</a>
			</div>
		</div>
	</div>
{% endblock %}

{% block navbar %}{% endblock %}
