* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	max-width: 100%;
	overflow-x: hidden;
	background-color: #929999;
}

button, input[type='submit'], input[type='button'] {
	background-color: #a2876a;
	border: 2px;
	border-radius: 4px;
	padding: 10px;
	font-size: large;
	margin: 5px;
	color: #F0F1EC;
	cursor:pointer;
	transition: background-color 300ms linear;
}

textarea {
	font-size: large;
	width: 100%;
	min-height: 80px;
}

button:hover {
	background-color: #967d62;
	transition: background-color 300ms linear;
}

a, p {
	text-decoration: none;
	color: #2C2C2D;
}

h1 {
	color: #2C2C2D;
}

.block {
	background-color: #F0F1EC;
	padding: 10px;
	border: 1px solid gray;
	border-radius: 5px;
	margin: 20px;
	height: fit-content;
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);	
}

.tiny {
	width: 25%;
}

.large {
	width: 75%;
}

.x-large {
	width: 95%;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.content-center > * {
	margin: 0 auto;
}

.up {
	margin-top: 150px;
}

.row {
	margin: 15px;
}

.right {
	float: right;
}

.fix-right {
	right: 0;
}

.left {
	float: left;
}

.nav-container {
	position: fixed;
	bottom:0;
	height: 50vh;
	display:flex;
	flex-flow:column;
	opacity: 0.7;
	width: 7%;
}

.nav-container > div {
	background-color: #7b676158;
	color: #7B6761;	
	margin: 2px;
	padding: 2px;
	font-size: 2vh;
	text-align: center;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 300ms linear;
}

.nav-container > div:hover {
	color: #61514c;	
	background-color: #5e4f4b58;
	font-size: 3vh;
}

span {
	font-size:1.3vw;
	white-space: pre-wrap;
	line-height: 1.4;
	outline: none;
}

.highlight {
	color: lavender;
}

.hide {
	display: none;
}

.main {
	position: fixed;
	top: 47px;
	height: calc(100% - 47px);
	width: 100%;
	overflow: auto;
}

.read {
	top: 57px;
	height: calc(100% - 57px);
	background-color: #F0F1EC;
	padding-left: 10px;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

#search-by-words {
	padding: 15px;
}

#searched-list-wrapper {
	margin: 15px;
}

#search-by-words div {
	display: inline;
}

#search-by-words button {
	width: 15%;
}

#search-by-words div > input {
	width: 100%;
}

#searched-list-wrapper {
	width: 100%;
	height: 500px;
	border: 1px solid gray;
	overflow-y: auto;
	background-color: white;
}

#searched-pages {
	display: flex;
	justify-content: center;
}

#searched-pages > div {
	margin: 2px;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
	font-size: large;
}

#set-book-words {
	font-size: larger;
	padding: 10px;
}

#set-book-words-result {
	width: 100%;
	height: 50%;
	border: 2px solid gray;
	border-radius: 2px;
	display: block;
}

.form-auth input {
	width: 100%;
	padding: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.form-auth button {
	width: 100%;
}

#auth-lang {
	text-align: center;
}

#auth-lang > a {
	padding: 20px;
	font-size: large;
}

.book-form input[type="text"], textarea, select {
	width: 100%;
	padding: 12px 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
}

.book-form textarea {
	min-height: 550px;
	resize: none;
	height: auto;
}

#form-controller {
	margin: 0 auto 10px;
	display: flex;
}

#form-controller > div {
	border: 3px solid darkgray;
	margin: 20px;
	padding: 5px;
	width: 100%;
	display: flex;
	justify-content: center;
}

#form-controller > div {
	border: 3px solid darkgray;
	margin: 20px;
	padding: 5px;
	width: 100%;
	display: flex;
	justify-content: center;
}

#form-controller > div:hover {
	border-color: #111111;
}

.selected-form {
	background-color: #a1a1a1;
}

#libru-search {
	display: flex;
}

#libru-search > div {
	width: 100%;
}

#libru-checkbox {
	display: flex;

}

#libru-checkbox > div {
	width: 45%;
	display: flex;
}

#web-search {
	margin-top: 15px;
}

#web-search > select {
	margin-top: 10px;
}

.btn-page {
	width: 48%;
}

.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #2C2C2D;
	position: fixed;
	top: 0;
	width: 100%;
}

.nav-bookname {
	max-width: 60%;
	white-space: nowrap;
	overflow: hidden;	
}

.navbar > li > a {
	display: block;
	color: #F0F1EC;
	text-align: center;
	padding: 14px 16px;
}

.navbar > li > a:hover {
	background-color: #111;
}

#span-collection {
	max-width: 700px;
}

#span-collection span {
	font-size: 20px;
}

#progbar {
	width: 100%;
	height: 10px;
	position: fixed;
	top: 46px;
}

#progbar > span {
	height: 100%;
	width: 0%;
	display: block;
	background-color: #7B6761;
}

#desktop-books > a > div {
	width: 180px;
	height: 300px;
	display: table-caption;
	transition: all 300ms linear;
}

#desktop-books > a > div > p {
	text-decoration: none;
	font-size: large;
	height: 80%;
	overflow: hidden;
}

#desktop-books > a > div:hover {
	border: 5px solid #7b6761;
	transition: all 300ms linear;
}

.index-book-progbar {
	height: 10px;	
	border: 1px solid #7b6761;
	border-radius: 5px;
}

.index-book-progbar > span {
	height: 100%;
	display: block;
	background-color: #a2876a;
}

#settings-form input, #settings-form select, #settings-form button {
	width: 100%;
}

.navbar-options {
	position: fixed;
	top: 45px;
	font-size: large;
	background-color: #2C2C2D;
	color: #F0F1EC;
	width: fit-content;
	height: fit-content;
	margin: 0;
	padding: 0;
	border-radius: 0 0 10px 10px;
}

.navbar-options > ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.navbar-options > ul > li {
	display: list-item;
	padding: 10px;
	cursor: pointer;
}

.navbar-options > ul > li > a {
	display: block;
	padding: 5px;
	text-decoration: none;
	color: #F0F1EC;
	width: 100%;
}

.navbar-options > ul > li > a:hover {
	background-color: #111111;
}

.navbar-options > ul > li > a > i {
	margin-right: 15px;
}

#add-options, #book-options {
	left: 50px;
}

#personal-options
{	
	right: 0;
}

.black-back {
	background-color: #111;
}

.list-form > table {
	border-collapse: collapse;
	width: 100%;
}

.list-form > table td, .list-form > table th {
	border: 1px solid #ccc;
	padding: 5px;
	max-width: 700px;
}

.list-form > table tr:nth-child(even) {
	background-color: #dddddd;
}

.list-form > .list-form-pages {
	width: fit-content;
	margin-top: 15px;
	margin-bottom: 15px;
}

.list-form > .list-form-pages > form {
	display: inline;
	margin: 10px;
}

.list-form > .list-form-search {
	border: 1px solid #dddddd;
	padding: 5px;
	width: fit-content;
	margin-top: 15px;
	margin-bottom: 15px;
}

.list-form-search > form > * {
	width: 100%;
}


.profile-form > form > * {
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: large;
}

#list-rows-count {
	margin-top: 20px;
}

.container-centered {
	display: flex;
	align-items: center;
}

.container-word {
	margin-left: 5px;
}

.close-span {
	width: 100%;
	margin: 0;
	padding: 10px;
	border: 1px solid gray;
	border-radius: 5px;
	cursor: pointer;
	background-color: #a2876a8d;
	padding: 0;
}

.translate-block {
	background-color: #d3d4ce;
	margin-left: 0;
}

.translate-span-block {
	background-color: #a2876a8d;
	margin: 2px;
	padding: 0;
	border: 1px solid gray;
	border-radius: 5px;
}

.translate-span {
	cursor: pointer;
	display: inline-block;
	width: 100%;
	white-space: pre-wrap;
}

#non-active-back {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.519);
	position: fixed;
}

#delete-form {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.lds-roller {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80px;
	height: 80px;
}

.lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
}

.lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #fff;
	margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
}

.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
}

.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
}

.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
}

.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
}

.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
}

.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
}

.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
}

.float-child {
	float: left;
	width: 50%;
}

.float-child-item {
	min-width: 300px;
	max-width: 450px;
	font-size: large;
}

.button {
	background-color: #7B6761;
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 38px;
	margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}

@keyframes lds-roller {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media only screen and (max-width: 600px) {
	.tiny {
		width: 75%;
	}

	.large {
		width: 90%;
	}

	#form-controller > div {
		margin: 5px;
	}

	.book-form textarea {
		height: 250px;
	}

	.nav-container {
		width: 20%;
	}

	.btn-page {
		width: 45%;
	}

	#libru-checkbox > div {
		width: 33%;
	}

	.nav-bookname {
		max-width: 60%;
	}

	#desktop-books > a > div {
		width: 140px;
		height: 240px;
	}

	#desktop-books > a > div > p {
		font-size: medium;
	}

	.list-form > .list-form-pages > form {
		margin-left: 0;
		margin-right: 0;
	}

	.list-form > table td, .list-form > table th {
		max-width: 60px
	}

	.list-form > table td input[type='submit'] {
		font-size: smaller;
		padding-left: 3px;
		padding-right: 3px;
	}

	.float-child {
		float: none;
		width: 100%;
	}

	.up {
		margin-top: 10px;
	}
}

@media only screen and (max-height: 700px) {
	.book-form textarea {
		min-height: 300px;
	}
}
