<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Читать книги вслух, читать онлайн, быстрое чтение книг, встроенный переводчик английского языка, чтение со всех устройств, read books aloud, read quickly">
        <meta name="keywords" content="чтение, книга, вслух, библиотека, book, read, aloud, library">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="https://kit.fontawesome.com/cbd447c376.js" crossorigin="anonymous"></script>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block navbar %}
            <ul class="navbar">
                <li class="left"><a href="{{ path('app_book_index') }}"><i class="fa-solid fa-house"></i></a></li>
                {% block navbar_left %}
                {% endblock %}
		        <li class="right"><a id='show-personal-options'><i class="fa-solid fa-ellipsis-vertical"></i></a></li>
                {% block navbar_right %}
                {% endblock %}
            </ul>           
            <div id="personal-options" class="hide navbar-options">
                <ul>
                    <li><a href="{{ path('app_profile_index') }}"><i class="fa-solid fa-user"></i>{{ 'Profile'|trans }}</a></li>
                    <li><a href="{{ path('app_logout') }}"><i class="fa-solid fa-right-from-bracket"></i>{{ 'Logout'|trans }}</a></li>
                </ul>
            </div>
        {% endblock %}
        {% block front %}
            <div id="non-active-back" class="hide"></div>
        {% endblock %}
    </body>
</html>
